/* Universal properties for the page */
:root {
  --background: #eeeef7;
  --navy: #445877;
  --teal: #92ccce;
}

* {
  color: var(--navy);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  width: 100%;
}

html {
  background-color: var(--background);
}

/* Header */
header {
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #31343d;
}

.head {
  flex: 1 0 200px;
}

h1 {
  color: #31343d;
  font-size: 6vw;
  background-color: var(--teal);
  text-align: left;
  width: max-content;
}

nav ul {
  font-size: 1.5em;
  color: var(--teal);
  text-align: right;
}

nav ul li {
  display: inline;
  padding: 4px;
}

a {
  color: var(--teal);
  text-decoration: none;
  border-bottom: 3px solid var(--teal);
}

/* Showcase with image */
.showcase {
  height: 10vh;
  background-image: url(/assets/images/showcase.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  bottom: 5%;
}

/* Main page content */
main {
  margin-top: 0;
  padding: 3vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
}

h3 {
  font-size: 5vw;
  text-align: right;
  padding-right: 8px;
}

.headings {
  width: 20%;
  border-right: 3px solid var(--navy);
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.content {
  width: 80%;
  padding-left: 2vh;
  align-self: center;
}

.about-me {
  /* Adjust height of the  row */
}

.contact {
  /* Adjust height of the  row */
}

/* About Me */
article {
  font-size: 1.25em;
}

/* Work Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: inherit;
}

.card {
  flex: 1 0 200px;
  height: 11vh;
  min-width: 50%;
}

.card-content {
  background-color: #8494a4;
  border: 2px solid var(--teal);
  height: 90%;
  position: relative;
  margin-right: px;
}

.main-card {
  flex: 2 1 400px;
  min-width: 90%;
  height: 25vh;
}

.card-text {
  background-color: var(--teal);
  color: var(--navy);
  width: auto;
  position: absolute;
  top: 40%;
  padding: 5px;
}

/* Contact Me */
.contact-link {
  text-align: center;
}

article a {
  color: var(--navy);
  font-weight: bold;
  padding: 4px;
  border-bottom: 3px solid var(--navy);
}

/* Media screens */
@media screen and (max-width: 425px) {
  .headings {
    width: 100%;
    border-right: none;
    border-bottom: 3px solid var(--navy);
  }

  .content {
    width: 100%;
    padding: 0 0 2vh 0;
  }

  h3 {
    text-align: left;
    font-size: 2em;
  }

  article {
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  
}
