/* Universal properties for the page */
:root {
  --background: #eeeef7;
  --navy: #445877;
  --teal: #92ccce;
  --darker: #31343d;
}

* {
  color: var(--navy);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

html {
  background-color: var(--background);
}

.dark {
  color: var(--darker);
}

/* Header */
header {
  background-color: var(--darker);
  height: auto;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.top-nav {
  margin-left: 200px;
  padding: 10px;
}

/* Showcase with image */
.showcase {
  height: 100vh;
  background-image: url("./images/showcase.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
}

.landing-div {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.showcase p {
  color: white;
  font-size: 1.75rem;
}

.showcase h1 {
  font-size: 2.5rem;
  color: white;
  margin-bottom: 0.5rem;
}

#profile-pic {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  background-image: url(./images/profile-photo.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Main page content */

h2 {
  font-size: 40px;
}

.spacer {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 20px;
  width: 100%;
}

/* About Me */
.about {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: var(--darker);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

article {
  font-size: 1.25em;
  color: white;
}

h2 {
  padding-bottom: 40px;
}

/* Projects */

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Contact Me */
.contact-link {
  text-align: center;
}

article a {
  color: var(--navy);
  font-weight: bold;
  padding: 4px;
  font-size: 2vw;
}

/* Software Page */

.software {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Resume page */

.resume {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Footer */

.footer {
  padding-left: 0;
  padding-right: 0;
}

.connect {
  background-color: #282828;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#link-bar a {
  padding: 10px;
}

.end-nav {
  background-color: #31343d;
}

#end-nav {
  text-align: center;
}

#end-nav li {
  padding-left: 10px;
  padding-right: 10px;
}

/* Pseudo Classes */
a:hover {
  color: var(--teal);
}

article a:hover {
  color: var(--teal);
}

/* Media screens */
@media only screen and (max-width: 600px) {
  h2 {
    text-align: start;
    font-size: 2rem;
  }

  .content {
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .showcase h1 {
    font-size: 2rem;
  }

  .showcase p {
    font-size: 1rem;
  }
}
